.chatbot-component {
  height: calc(100vh - 64px);
  background-color: white;
  border: 1px solid rgb(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  .chatbot-component-header {
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 8px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .chatbot-component-header-icon {
      height: 18px;
    }

    .chatbot-component-header-cta {
      font-size: 16px;
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      .chatbot-component-header-cta-icon {
        height: 18px;
      }
    }
  }

  /* ============================================= */
  .chatbot-component-main {
    padding: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    /* ==================== */

    .chatbot-component-main-chat {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .chatbot-component-main-chat-actions {
        display: flex;
        flex-direction: row;
        gap: 8px;

        .chatbot-component-main-chat-actions-header {
          background-color: black;
          display: flex;
          flex-direction: row;
          gap: 8px;
          border-radius: 1000px;
          padding: 8px 12px;

          .chatbot-component-main-chat-actions-header-icon {
            height: 18px;
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
              saturate(6730%) hue-rotate(314deg) brightness(102%) contrast(103%);
          }

          .chatbot-component-main-chat-actions-header-par {
            color: white;
            text-transform: capitalize;
            font-size: 16px;
          }
        }

        /* =============== */
        .chatbot-component-main-chat-actions-action {
          border-radius: 1000px;
          font-size: 16px;
          color: black;
          text-transform: capitalize;
          border: 1px solid black;
          padding: 8px 12px;
        }
      }

      /* ======================== */
      .chatbot-component-main-chat-input {
        border-radius: 100px;
        border: 1px solid black;
        padding: 8px 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        input {
          width: 100%;
          font-size: 16px;
        }

        input::placeholder {
          font-size: 16px;
          color: rgb(0, 0, 0, 0.5);
          width: 100%;
          display: block;
        }
      }
    }
  }
}
