.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .navigation-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .navigation-links {
    cursor: pointer;
    .navigation-links-icon {
      filter: brightness(0) saturate(100%) invert(99%) sepia(31%) saturate(889%)
        hue-rotate(302deg) brightness(114%) contrast(96%);
      height: 20px;
    }
  }
}
