.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #141413;
  padding: 0 8px;
  height: 40px;

  .navigation-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .navigation-links {
    cursor: pointer;
    color: #faf9f5;
    font-size: var(--fs-small);
    .navigation-links-icon {
      height: 20px;
      height: var(--size-icon);
      width: var(--size-icon);
      filter: brightness(0) saturate(100%) invert(97%) sepia(13%) saturate(455%)
        hue-rotate(327deg) brightness(112%) contrast(95%);
    }
  }
}
