.chatbot {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  flex-grow: 1;

  .chatbot-messages {
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 32px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    .message.user {
      background-color: #007bff;
      color: #f1eee6;
      margin-left: auto;
      padding: 16px 8px;
      border-radius: 4px 4px 16px 4px;
      max-width: 70%;
      font-size: var(--fs-small);
    }
    .message.bot {
      color: black;
      max-width: 55%;
      font-size: var(--fs-small);
    }

    .message.loading {
      display: flex;
      align-items: center;
      gap: 8px;

      .loading-icon {
        width: 16px;
        height: 16px;
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  .chatbot-input {
    background-image: repeating-linear-gradient(
        0deg,
        black 0,
        rgb(0, 0, 0, 0.15) 10px,
        transparent 10px,
        transparent 15px
      ),
      repeating-linear-gradient(
        90deg,
        black 0,
        rgb(0, 0, 0, 0.15) 10px,
        transparent 10px,
        transparent 15px
      ),
      repeating-linear-gradient(
        180deg,
        black 0,
        rgb(0, 0, 0, 0.15) 10px,
        transparent 10px,
        transparent 15px
      ),
      repeating-linear-gradient(
        270deg,
        black 0,
        rgb(0, 0, 0, 0.15) 10px,
        transparent 10px,
        transparent 15px
      );
    background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 32px;
    position: sticky;
    bottom: 0;

    .chatbot-input-type {
      flex-grow: 1;
      font-size: var(--fs-small);
      width: 100%;
      color: black;
    }

    .chatbot-input-type::placeholder {
      font-size: var(--fs-small);
      color: black;
      width: 100%;
    }

    .chatbot-input-type.no-resume::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }

    .chatbot-input-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .chatbot-input-wrapper-action {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        .chatbot-input-action-icon {
          width: fit-content;
          height: var(--size-icon);
          width: var(--size-icon);
          line-height: 1;
        }
      }

      .chatbot-input-send-icon {
        width: fit-content;
        height: var(--size-icon);
        width: var(--size-icon);
      }
    }
  }
}
