.home {
  .home-wrapper {
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: clamp(8px, calc(3.2px + 1.5vw), 32px)
      clamp(8px, calc(-78.4px + 27vw), 440px);
    background-color: #faf9f5;

    .home-wrapper-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      font-size: var(--fs-small);
    }
  }
}
