.home {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: #141413;

  .home-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: clamp(0.5rem, 0.3rem + 1vw, 1.5rem)
      clamp(0.5rem, -2.45rem + 14.75vw, 15.25rem);
    border-radius: 8px;
    background-color: #faf9f5;

    .home-wrapper-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }

    .home-wrapper-about {
      background-image: repeating-linear-gradient(
          0deg,
          black 0,
          rgb(0, 0, 0, 0.15) 10px,
          transparent 10px,
          transparent 15px
        ),
        repeating-linear-gradient(
          90deg,
          black 0,
          rgb(0, 0, 0, 0.15) 10px,
          transparent 10px,
          transparent 15px
        ),
        repeating-linear-gradient(
          180deg,
          black 0,
          rgb(0, 0, 0, 0.15) 10px,
          transparent 10px,
          transparent 15px
        ),
        repeating-linear-gradient(
          270deg,
          black 0,
          rgb(0, 0, 0, 0.15) 10px,
          transparent 10px,
          transparent 15px
        );
      background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
      background-position: 0 0, 0 0, 100% 0, 0 100%;
      background-repeat: no-repeat;
      width: 100%;
      background-color: white;
      padding: 16px;
      border-radius: 8px;
      font-size: var(--fs-small);
    }
  }
}
