.home {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  background-color: #141413;

  .home-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: clamp(1rem, 0.8rem + 1vw, 2rem)
      clamp(0.25rem, -5.25rem + 27.5vw, 27.75rem);
    border-radius: 8px;
    background-color: #faf9f5;
    /* background-image: linear-gradient(
        rgba(255, 255, 255, 0.85),
        rgba(255, 255, 255, 0.85)
      ),
      url("/media/test.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */

    .home-wrapper-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      font-size: var(--fs-small);
    }
  }
}
