.chatbot-component {
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .chatbot-component-chat {
    border-radius: 8px;
    border: 1px solid black;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    gap: 8px;

    .chatbot-component-chat-upload,
    .chatbot-component-chat-newchat {
      border: 1px solid black;
      width: fit-content;
      border-radius: 4px;
      padding: 6px 8px;
      img {
        height: 14px;
      }
      font-size: 12px;
    }

    input {
      flex-grow: 1;
      font-size: 16px;
    }

    input::placeholder {
      font-size: 16px;
      color: rgb(0, 0, 0, 0.5);
      width: 100%;
      display: block;
    }
  }
}
