.home-route {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100vh;
  overflow: hidden;
  padding: 8px;
  background-color: #121212;

  .home-route-wrapper {
    background-color: #faf9f5;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: row;

    .home-route-wrapper-main {
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 16px;
      padding: 16px 316px;

      .home-route-wrapper-main-about {
        background-color: white;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        border: 1px solid rgb(0, 0, 0, 0.5);
        border-radius: 8px;

        .home-route-about-par {
          width: 60%;
          font-size: 15px;
          text-transform: capitalize;
          line-height: 1.2;
        }

        .home-route-wrapper-stats {
          border: 1px solid black;
          border-radius: 10000px;
          padding: 8px;
          height: fit-content;
          width: fit-content;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;

          .home-route-wrapper-stats-icon {
            height: 14px;
          }
          .home-route-wrapper-stats-par {
            font-size: 14px;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
