.navigation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  padding: 16px 32px;

  .navigation-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;

    img {
      height: 26px;
    }
  }

  img {
    height: 26px;
  }
}
